.header {
  flex-grow: 1;
  flex-shrink: 0;
  &--logo{
    font-family: $logo-font;
    font-size: 24px;
    line-height: 28px;
    color: $primary-text-color;
    display: inline-block;
  }
  &--subtitle{
    display: inline-block;
    float: right;
    line-height: 28px;
    font-size: 18px;
    color: $secondary-text-color;
  }
}
